@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 100px;
  padding-bottom: 1%;
  font-family: 'Copperplate', fantasy;
}

h2 {
  text-align: center;
  color: rgba(255, 255, 255);
  font-size: 40px;
  padding-top: 3%;
  padding-bottom: 2%;
  font-family: 'Brush Script MT', cursive;	
}

h3 {
  padding-top: 3%;
  padding-bottom: 0.5%;
  font-size: 20px;
  padding-right: 2%;
  padding-left: 2%;
  font-family: 'Blippo', fantasy;	
}

.firsth3 {
  padding-top: 1%;
}

h4 {
  font-family: 'Courier New', monospace;
  font-variant: small-caps;
  text-align: center;
  font-size: 20px;
  padding-bottom: 1%;
}

p {
  padding-right: 2%;
  padding-left: 2%;
  font-family: 'American Typewriter', serif;
  line-height: 2;
}

.indentp {
  padding-left: 4%;
}

ul{
  padding-right: 2%;
  padding-left: 4%;
  font-family: 'American Typewriter', serif;
  line-height: 1.75;
  font-size: 14px;
}

.indentul {
  padding-left: 6%;
}

.ulnoindent {
  padding-left: 2%;
}

.contact p {
  text-align: right;
  font-family: 'Courier New', monospace;
  padding-top: 10px;
}

.contact p:hover {
  font-weight: bold;
}

.container {
  position: relative;
  width: 100%;
  margin: 0%;
  margin-top: 10px;
  height: 400px;
  max-width: 100% !important;
  overflow: hidden;
}

.title {
  position: absolute; 
  bottom: -100px;
}

.titletext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar ul{
  list-style-type: none;
  background-color: hsl(0, 0%, 15%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  padding-left: 51px;
  padding-right: 51px;
  display: block;
  text-align: center;
  font-family: 'Courier New', monospace;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 7.5%);
  font-weight: bold;
}

.navbar li {
  float: left;
}

button {
  text-align: center;
  position: relative;
  left: 43%;
  justify-content: center;  
  align-items: center;  
  height: 45px;
  width: 14%;
  margin: 0;
  padding: 0;
  background: black;
  border: 3px double white;
  overflow: hidden;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

button:hover {
  font-weight: bold;
}

.footer {
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1.5%;
  background-color: hsl(0, 0%, 10%);
  border-top: dotted rgba(255, 255, 255, 0.487);
}

.footer p {
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

iframe {
  margin:auto;
  display:block;
}

.edcontainer {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  border: white;
  border-width: 30px;
}

.edimage{
  padding-top: 0.5%;
  width: 60%;
  float: center;
  padding-left: 3%;
  filter: grayscale(100%);
}

.edimage2 {
  padding-top: 0.5%;
  width: 60%;
  float: center;
  padding-right: 3%;
  filter: grayscale(100%);
}

.edtext {
  padding-left: 3%;
  width: 40%;
}

.edtext2 {
  padding-left: 6%;
  width: 40%;
  padding-bottom: 1.5%
}

.edtext p {
  padding-left: 10%;
  padding-top: 2%
}

.edtext ul {
  padding-left: 15%;
}

.edtext2 p {
  padding-left: 13%;
  padding-top: 2%
}

.extrapadding{
  padding-bottom: 2.5%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
